@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right,#EBA367, #F56849);
    
}
main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #94422f;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #DB2C63;
    text-align: center;
    text-shadow: 1px 1px 2px #a02149cd;
}

h2 {
    color: #E694F2;
}

p {
    text-align: justify;
}